[submodule "kevingzhang.github.io"]
	path = kevingzhang.github.io
	url = git@github.com:kevingzhang/kevingzhang.github.io.git
[submodule "themes/air"]
	path = themes/air
	url = https://github.com/syui/hugo-theme-air.git
